<!DOCTYPE html>
<html ng-app="mentio-demo">
<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="styles.css" />
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>
  <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
  <script src="mentio.js"></script>
  <script src="scripts.js"></script>
  <script src="tinymce.js"></script>
</head>
<body ng-controller="mentio-demo-ctrl">
<div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" ng-href="#">ment.io</a>
        <ul class="nav navbar-nav">
          <li ng-class="{active: tab === 'examples' }"><a ng-href="#/examples">Demo</a></li>
          <li ng-class="{active: tab === 'documentation' }"><a ng-href="#/documentation">Documentation</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div ng-view></div>

  <script type="text/ng-template" id="examples.html">
      <div class="container">
            <mentio-menu
                mentio-for="'theTextArea'"
                mentio-trigger-char="'@'"
                mentio-items="words"
                mentio-template-url="/words-mentions.tpl"
                mentio-search="lookupWord(term)"
                mentio-select="displayWord(item)"
            ></mentio-menu>

              <textarea mentio
                        class="editor form-control"
                        mentio-id="'theTextArea'"
                        ng-model="theTextArea"
                        ng-trim="false"
                        rows="6">
              </textarea>
      </div>
  </script>

  <script type="text/ng-template" id="/words-mentions.tpl">
    <ul class="list-group user-search">
      <li mentio-menu-item="word" ng-repeat="word in items" class="list-group-item">
        <span>{{word.cc}} {{word.eng1}}</span>
      </li>
    </ul>
  </script>

</div>
</body>

</html>
