<!--todo use ui-route. ng-route doesnt support multiple view and menu show as scrambled on load when it's outside ng-view. Need to move into each component to fix it-->
<div layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-menu>
        <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                   ng-click="$mdOpenMenu($event)">
          <md-icon md-menu-origin md-svg-icon="img/icons/ic_menu_white_24px.svg"></md-icon>
        </md-button>
        <md-menu-content width="10">
          <md-menu-item>
            <md-button href="#/patients">
              <md-icon md-svg-icon="img/icons/ic_people_black_24px.svg"></md-icon>
              Patients
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button href="#/tcmdict">
              <md-icon md-svg-icon="img/icons/ic_library_books_black_24px.svg"></md-icon>
              TCM Dictionary
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button href="#/profile">
              <md-icon md-svg-icon="img/icons/ic_person_outline_black_24px.svg"></md-icon>
              Profile
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button href="/logout?url=/">
              <md-icon md-svg-icon="img/icons/ic_exit_to_app_black_24px.svg"></md-icon>
              Logout
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <span>Traditional Chinese Medicine eClinic</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button class="md-icon-button md-primary" href="#/patients" aria-label="Patients">
        <md-icon md-svg-icon="img/icons/ic_people_white_24px.svg"></md-icon>
        <md-tooltip>Patients</md-tooltip>
      </md-button>
      <md-button class="md-icon-button md-primary" href="#/tcmdict" aria-label="y">
        <md-icon md-svg-icon="img/icons/ic_library_books_white_24px.svg"></md-icon>
        <md-tooltip>TCM Dictionary</md-tooltip>
      </md-button>
      <md-button class="md-icon-button md-primary" href="#/user-profile" aria-label="y">
        <md-icon md-svg-icon="img/icons/ic_person_outline_white_24px.svg"></md-icon>
        <md-tooltip>Profile</md-tooltip>
      </md-button>
      <md-button class="md-icon-button md-primary" href="/logout?url=/" aria-label="y">
        <md-icon md-svg-icon="img/icons/ic_exit_to_app_white_24px.svg"></md-icon>
        <md-tooltip>Logout</md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
</div>