<included>
    <!-- put your appenders -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
     ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
       <encoder>
           <pattern>%d{ISO8601} %p %t %c{0}.%M - %m%n</pattern>
           <charset>utf8</charset>
        </encoder>
    </appender>
    
    
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>testFile.log</file>
    <append>true</append>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

    <!-- put your loggers here -->
    <logger name="org.springframework.boot" additivity="false" level="WARN">
        <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
    </logger>

    <!-- put your root here -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
    </root>
</included>