<div ng-init="svc = consultCtrl"></div>

<md-card>
  <md-card-content layout="row" layout-align="space-between">
    <!--only support consultation view on specific patient-->
    <label>Consultation for Patient xxx</label>
  </md-card-content>
</md-card>


<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Consultation History</span>
      <!--<span class="md-subhead"></span>-->
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-table-container>
      <table md-table md-progress="svc.consultsList.$promise">
        <thead md-head>
        <tr md-row>
          <th md-column><strong>Chief Complaint</strong></th>
          <th md-column><strong>Symptoms</strong></th>
          <th md-column><strong>Tongue</strong></th>
          <th md-column><strong>Pulse</strong></th>
          <th md-column><strong>TCM diagnosis</strong></th>
          <th md-column><strong>TCM syndrome differentiation</strong></th>
          <th md-column><strong>Aetiology & Pathogenesis</strong></th>
          <th md-column><strong>Western Medicine Diagnosis</strong></th>
          <th md-column><strong>Principle of treatment</strong></th>
          <th md-column><strong>Treatment</strong></th>
          <th md-column><strong>Herbs</strong></th>
          <th md-column><strong>Advice</strong></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="c in svc.consultsList">
          <td md-cell>{{c.chiefComplaint}}</td>
          <td md-cell>{{c.symptoms}}</td>
          <td md-cell>{{c.tongue}}</td>
          <td md-cell>{{c.pulse}}</td>
          <td md-cell>{{c.tcmDiagnosis}}</td>
          <td md-cell>{{c.tcmSyndromeDiff}}</td>
          <td md-cell>{{c.aetiologyAndPath}}</td>
          <td md-cell>{{c.principleOfTreatment}}</td>
          <td md-cell>{{c.treatment}}</td>
          <td md-cell>{{c.herbs}}</td>
          <td md-cell>{{c.advice}}</td>
          <td md-cell>
            <md-button class="md-primary md-small" ng-href="#/search-doc/{{c.id}}">Edit</md-button>
            <md-button class="md-primary md-small" ng-href="#/search-doc/{{c.id}}">Delete</md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card-content>
</md-card>
