<md-card>
    <md-card-content layout="row" layout-align="space-between">
        <md-button class="md-raised md-primary" ng-click="patientCtrl.onNewPatient($event)">New Patient</md-button>
    </md-card-content>
</md-card>


<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Existing Patients</span>
            <!--<span class="md-subhead"></span>-->
        </md-card-title-text>
        <!--<div flex></div>-->
        <md-button class="md-icon-button" ng-click="patientCtrl.onRefresh()">
            <md-icon>refresh</md-icon>
        </md-button>
    </md-card-title>
    <md-card-content>
        <md-table-container>
            <table md-table md-progress="patientCtrl.patientList.$promise">
                <thead md-head>
                <tr md-row>
                    <th md-column><strong>Client ID</strong></th>
                    <th md-column><strong>First Name</strong></th>
                    <th md-column><strong>Last Name</strong></th>
                    <th md-column><strong>Date Of Birth</strong></th>
                    <th md-column><strong>Gender</strong></th>
                    <th md-column><strong>Health Fund</strong></th>
                    <th md-column><strong>Address</strong></th>
                    <th md-column><strong>Occupation</strong></th>
                    <th md-column><strong>Initial Visit</strong></th>
                    <th md-column><strong>Phone</strong></th>
                    <th md-column><strong>Email</strong></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="p in patientCtrl.patientList">
                    <td md-cell>{{p.id}}</td>
                    <td md-cell>{{p.firstName}}</td>
                    <td md-cell>{{p.lastName}}</td>
                    <td md-cell>{{p.dob}}</td>
                    <td md-cell>{{p.healthFund}}</td>
                    <td md-cell>{{p.address}}</td>
                    <td md-cell>{{p.occupation}}</td>
                    <td md-cell>{{p.initialVisit}}</td>
                    <td md-cell>{{p.phone}}</td>
                    <td md-cell>{{p.email}}</td>
                    <td md-cell>
                        <md-button class="md-primary md-small" ng-href="#/search-doc/{{p.id}}">View</md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card-content>
</md-card>
