<script type="text/ng-template" id="/words-mentions.tpl">
  <ul class="list-group user-search">
    <li mentio-menu-item="word" ng-repeat="word in items" class="list-group-item">
      <span>{{word.cc}} {{word.eng1}}</span>
    </li>
  </ul>
</script>

<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Consultation Detail</span>
      <span class="md-subhead">
        Patient: {{svc.patient.lastName}},{{svc.patient.firstName}}&nbsp;&nbsp;&nbsp;
        Date Of Birth: {{svc.patient.dob}}&nbsp;&nbsp;&nbsp;
        Consultation ID: {{svc.currentConsult.consultId}}
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <form name="userForm">
      <div>
        <!--todo we may not need this clean up later-->
         <mentio-menu
             mentio-for="'theTextArea'"
             mentio-trigger-char="'@'"
             mentio-items="svc.words"
             mentio-template-url="/words-mentions.tpl"
             mentio-search="svc.lookupWord(term)"
             mentio-select="svc.displayWord(item)"
         ></mentio-menu>

         <textarea ng-hide="true" mentio
                   class="editor form-control"
                   mentio-id="'theTextArea'"
                   ng-model="svc.currentConsult.chiefComplaint"
                   ng-trim="false"
                   rows="6">
         </textarea>

        <!--dictionary selection pane-->
        <md-sidenav md-component-id="searchDictPane" class="md-sidenav-right">
          <md-content class="md-padding">
            <md-tabs md-selected="svc.selectedTabIndex">
              <md-tab ng-repeat="tagAndWords in svc.allTags" label="{{tagAndWords.tagName}}">
                <md-list-item ng-repeat="word in tagAndWords.words" ng-click="svc.appendToInput(word)">
                  <p> {{word.cc}} | {{word.cs}} | {{word.eng1}} </p>
                </md-list-item>
              </md-tab>
          </md-content>
        </md-sidenav>

        <!--consultation input fields-->
        <!--todo textarea somethimes not expand to show full text-->
         <br>
        <div layout="row">
          <div flex>
            <md-input-container class="md-block">
              <label>Chief Complaint</label>
              <textarea ng-model="svc.currentConsult.chiefComplaint" required></textarea>
            </md-input-container>
          </div>
          <md-button ng-click="svc.onOpenSearchDictPane($event, 'chiefComplaint')" style="margin-bottom: 20px">
            <md-icon>search</md-icon>
          </md-button>
        </div>
        <div layout="row">
          <div flex>
            <md-input-container class="md-block">
              <label>Symptoms</label>
              <textarea ng-model="svc.currentConsult.symptoms"></textarea>
            </md-input-container>
          </div>
          <md-button ng-click="svc.onOpenSearchDictPane($event, 'symptoms')" style="margin-bottom: 20px">
            <md-icon>search</md-icon>
          </md-button>
        </div>
      </div>
      <div layout="row">
        <md-input-container class="md-block">
          <label>Visited On</label>
          <input ng-model="svc.currentConsult.visitedOn" type="date">
        </md-input-container>
        <div flex>
          <md-input-container class="md-block">
            <label>Tongue</label>
            <input ng-model="svc.currentConsult.tongue">
          </md-input-container>
        </div>
        <div flex>
          <md-input-container class="md-block">
            <label>Pulse</label>
            <input ng-model="svc.currentConsult.pulse">
          </md-input-container>
        </div>
      </div>

      <div>
        <div layout="row">
          <div flex>
            <md-input-container class="md-block">
              <label>TCM diagnosis</label>
              <textarea ng-model="svc.currentConsult.tcmDiagnosis"></textarea>
            </md-input-container>
          </div>
          <md-button ng-click="svc.onOpenSearchDictPane($event, 'tcmDiagnosis')" style="margin-bottom: 20px">
            <md-icon>search</md-icon>
          </md-button>
        </div>
        <md-input-container class="md-block">
          <label>TCM syndrome differentiation</label>
          <input ng-model="svc.currentConsult.tcmSyndromeDiff">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Western Medicine Diagnosis</label>
          <input ng-model="svc.currentConsult.westernMedicineDiagnosis">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Principle of treatment</label>
          <input ng-model="svc.currentConsult.principleOfTreatment">
        </md-input-container>
        <div layout="row">
          <div flex>
            <md-input-container class="md-block">
              <label>Treatment</label>
              <textarea ng-model="svc.currentConsult.treatment"></textarea>
            </md-input-container>
          </div>
          <md-button ng-click="svc.onOpenSearchDictPane($event, 'treatment')" style="margin-bottom: 20px">
            <md-icon>search</md-icon>
          </md-button>
        </div>
        <div layout="row">
          <div flex>
            <md-input-container class="md-block">
              <label>Acupoints</label>
              <textarea ng-model="svc.currentConsult.acupoints"></textarea>
            </md-input-container>
          </div>
          <md-button ng-click="svc.onOpenSearchDictPane($event, 'acupoints')" style="margin-bottom: 20px">
            <md-icon>search</md-icon>
          </md-button>
        </div>
        <md-input-container class="md-block">
          <label>Herbs</label>
          <textarea ng-model="svc.currentConsult.herbs"></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Advice</label>
          <input ng-model="svc.currentConsult.advice">
        </md-input-container>
      </div>

      <md-button class="md-raised md-primary" ng-click="svc.onSubmitConsult($event, userForm)">Submit</md-button>
      <md-button class="md-raised md-primary" ng-click="svc.onCancelConsultForm($event)">Cancel</md-button>
      <md-button id="deletePatient" ng-click="svc.onDeleteConsult()"
                 ng-if="svc.currentConsult.consultId" class="md-raised md-warn">Delete Consultation
      </md-button>
    </form>
  </md-card-content>
</md-card>
