<md-card class="edit-page-size">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Consultation Detail</span>
      <span class="md-subhead">
        Patient: {{svc.patient.lastName}},{{svc.patient.firstName}}&nbsp;&nbsp;&nbsp;
        Date Of Birth: {{svc.patient.dob}}&nbsp;&nbsp;&nbsp;
        Consultation ID: {{svc.currentConsult.consultId}}
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>

    <!--dictionary selection pane. Don't put too many list items as it will be too slow-->
    <md-sidenav md-component-id="searchDictPane" class="md-sidenav-right">
      <div>
      <h4 style="text-align: center;">Click To Add Word To '{{svc.editedFieldLabel}}'</h4>

      <ng-include src="'app/components/common/word-tabs.html'"></ng-include>
      </div>
    </md-sidenav>

    <!--consultation input fields-->
    <!--todo textarea sometimes not expand to show full text-->
    <form name="userForm">
      <br>
      <div layout="row">
        <md-input-container class="md-block">
          <label>Visited On</label>
          <input ng-model="svc.currentConsult.visitedOn" type="date">
        </md-input-container>
      </div>
      <div layout="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Chief Complaint</label>
            <textarea ng-model="svc.currentConsult.chiefComplaint" required></textarea>
          </md-input-container>
        </div>
        <md-button ng-click="svc.onOpenSearchDictPane($event, 'chiefComplaint', 'Chief Complaint')"
                   class="md-icon-button md-icon-input-align">
          <md-icon>search</md-icon>
        </md-button>
      </div>

      <div layout="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Medical History</label>
            <textarea ng-model="svc.currentConsult.medicalHistory"></textarea>
          </md-input-container>
        </div>
        <md-button ng-click="svc.onOpenSearchDictPane($event, 'medicalHistory', 'Medical History')"
                   class="md-icon-button md-icon-input-align">
          <md-icon>search</md-icon>
        </md-button>
      </div>

      <div layout="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Symptoms</label>
            <textarea ng-model="svc.currentConsult.symptoms"></textarea>
          </md-input-container>
        </div>
        <md-button ng-click="svc.onOpenSearchDictPane($event, 'symptoms', 'Symptoms')" class="md-icon-button md-icon-input-align">
          <md-icon>search</md-icon>
        </md-button>
      </div>

      <div layout="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Pulse</label>
            <textarea ng-model="svc.currentConsult.pulse"></textarea>
          </md-input-container>
        </div>
        <md-button ng-click="svc.onOpenSearchDictPane($event, 'pulse', 'Pulse')" class="md-icon-button md-icon-input-align">
          <md-icon>search</md-icon>
        </md-button>
      </div>

      <div layout="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Tongue</label>
            <textarea ng-model="svc.currentConsult.tongue"></textarea>
          </md-input-container>
        </div>
        <md-button ng-click="svc.onOpenSearchDictPane($event, 'tongue', 'Tongue')" class="md-icon-button md-icon-input-align">
          <md-icon>search</md-icon>
        </md-button>
      </div>

      <div layout="row">
        <div flex>
          <md-input-container class="md-block">
            <label>TCM Diagnosis</label>
            <textarea ng-model="svc.currentConsult.tcmDiagnosis"></textarea>
          </md-input-container>
        </div>
        <md-button ng-click="svc.onOpenSearchDictPane($event, 'tcmDiagnosis', 'TCM Diagnosis')" class="md-icon-button md-icon-input-align">
          <md-icon>search</md-icon>
        </md-button>
      </div>

      <div layout="row">
        <div flex>
          <md-input-container class="md-block">
            <label>TCM syndrome differentiation</label>
            <textarea ng-model="svc.currentConsult.tcmSyndromeDiff"></textarea>
          </md-input-container>
        </div>
        <md-button ng-click="svc.onOpenSearchDictPane($event, 'tcmSyndromeDiff', 'TCM syndrome differentiation')" class="md-icon-button md-icon-input-align">
          <md-icon>search</md-icon>
        </md-button>
      </div>

      <div layout="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Western Medicine Diagnosis</label>
            <textarea ng-model="svc.currentConsult.westernMedicineDiagnosis"></textarea>
          </md-input-container>
        </div>
        <md-button ng-click="svc.onOpenSearchDictPane($event, 'westernMedicineDiagnosis', 'Western Medicine Diagnosis')" class="md-icon-button md-icon-input-align">
          <md-icon>search</md-icon>
        </md-button>
      </div>

      <div layout="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Principle Of Treatment</label>
            <textarea ng-model="svc.currentConsult.principleOfTreatment"></textarea>
          </md-input-container>
        </div>
        <md-button ng-click="svc.onOpenSearchDictPane($event, 'principleOfTreatment', 'Principle Of Treatment')" class="md-icon-button md-icon-input-align">
          <md-icon>search</md-icon>
        </md-button>
      </div>

      <div layout="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Treatment</label>
            <textarea ng-model="svc.currentConsult.treatment"></textarea>
          </md-input-container>
        </div>
        <md-button ng-click="svc.onOpenSearchDictPane($event, 'treatment', 'Treatment')" class="md-icon-button md-icon-input-align">
          <md-icon>search</md-icon>
        </md-button>
      </div>

      <div layout="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Acupoints</label>
            <textarea ng-model="svc.currentConsult.acupoints"></textarea>
          </md-input-container>
        </div>
        <md-button ng-click="svc.onOpenSearchDictPane($event, 'acupoints', 'Acupoints')" class="md-icon-button md-icon-input-align">
          <md-icon>search</md-icon>
        </md-button>
      </div>

      <div layout="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Herbs</label>
            <textarea ng-model="svc.currentConsult.herbs"></textarea>
          </md-input-container>
        </div>
        <md-button ng-click="svc.onOpenSearchDictPane($event, 'herbs', 'Herbs')" class="md-icon-button md-icon-input-align">
          <md-icon>search</md-icon>
        </md-button>
      </div>

      <div layout="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Advice</label>
            <textarea ng-model="svc.currentConsult.advice"></textarea>
          </md-input-container>
        </div>
        <md-button ng-click="svc.onOpenSearchDictPane($event, 'advice', 'Advice')" class="md-icon-button md-icon-input-align">
          <md-icon>search</md-icon>
        </md-button>
      </div>

      <md-button class="md-raised md-primary" ng-click="svc.onSubmitConsult($event, userForm)">Submit</md-button>
      <md-button class="md-raised md-primary" ng-click="svc.onCancelConsultForm($event)">Cancel</md-button>
      <md-button id="deletePatient" ng-click="svc.onDeleteConsult()"
                 ng-if="svc.currentConsult.consultId" class="md-raised md-warn">Delete Consultation
      </md-button>
    </form>
  </md-card-content>
</md-card>
