<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Patient Detail</span>
      <span class="md-subhead">ID: {{svc.currentPatient.patientId}}</span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content>
    <form name="userForm" ng-submit="userForm.$valid && svc.onSubmitPatient($event)">
      <br/>
      <div layout-gt-xs="row">
        <md-input-container class="md-block">
          <label>First Name</label>
          <input ng-model="svc.currentPatient.firstName" required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Last Name</label>
          <input ng-model="svc.currentPatient.lastName" required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Date Of Birth</label>
          <input ng-model="svc.currentPatient.dob" type="date" required>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-block">
          <label>Phone</label>
          <input ng-model="svc.currentPatient.phone">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Email</label>
          <input ng-model="svc.currentPatient.email" type="email">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Occupation</label>
          <input ng-model="svc.currentPatient.occupation">
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-block">
          <label>Gender</label>
          <md-select ng-model="svc.currentPatient.gender" required>
            <md-option ng-repeat="g in ['', 'Male', 'Female']" value="{{g}}">
              {{g}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Heal Fund Provider</label>
          <md-select ng-model="svc.currentPatient.healthFund">
            <md-option ng-repeat="h in svc.healthFundList" value="{{h.code}}">
              {{h.desc}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Guardian</label>
          <input ng-model="svc.currentPatient.guardian">
        </md-input-container>
      </div>

      <br>

      <md-input-container class="md-block">
        <label>Address</label>
        <input ng-model="svc.currentPatient.address">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Allergies</label>
        <input ng-model="svc.currentPatient.allergies">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Medical History</label>
        <input ng-model="svc.currentPatient.medicalHistory">
      </md-input-container>

      <md-button type="submit" class="md-raised md-primary" id="submit">Submit</md-button>
      <md-button class="md-raised md-primary" ng-click="svc.onCancelPatientForm($event)">Cancel</md-button>
      <md-button id="deletePatient" ng-click="svc.onDeletePatient()"
                 ng-if="svc.currentPatient.patientId" class="md-raised md-warn">Delete Patient
      </md-button>
    </form>
  </md-card-content>
</md-card>