<div ng-init="svc = patientCtrl" style="max-width: 768px">

<md-card>
  <md-card-content layout="row" layout-align="space-between">
    <md-button class="md-fab" aria-label="Add" ng-click="svc.onPatientEdit($event)">
      <md-icon>add</md-icon>
    </md-button>
  </md-card-content>
</md-card>

</div>

<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Existing Patients</span>
      <!--<span class="md-subhead"></span>-->
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-table-container>
      <table md-table md-progress="svc.patientList.$promise">
        <thead md-head>
        <tr md-row>
          <th md-column><strong>Patient ID</strong></th>
          <th md-column><strong>First Name</strong></th>
          <th md-column><strong>Last Name</strong></th>
          <th md-column><strong>Date Of Birth</strong></th>
          <th md-column><strong>Gender</strong></th>
          <th md-column><strong>Phone</strong></th>
          <th md-column><strong>Allergies</strong></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="p in svc.patientList">
        <!--<tr md-row ng-repeat="p in svc.plist">-->
          <td md-cell>{{p.patientId}}</td>
          <td md-cell>{{p.firstName}}</td>
          <td md-cell>{{p.lastName}}</td>
          <td md-cell>{{p.dob}}</td>
          <td md-cell>{{p.gender}}</td>
          <td md-cell>{{p.phone}}</td>
          <td md-cell>{{p.allergies}}</td>
          <td md-cell>
            <md-button class="md-primary md-small" ng-click="svc.onPatientEdit($event, p)">Edit</md-button>
          </td>
          <td md-cell>
            <md-button class="md-primary md-small" ng-href="#/consults/{{p.patientId}}">Visits</md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card-content>
</md-card>