<ng-include src="'app/components/common/top-toolbar.html'"></ng-include>

<div ng-init="svc = patientCtrl"></div>

<!--todo use this for slide effect https://github.com/EricWVGG/AngularSlideables, or ng-animate-->
<ng-include ng-show="svc.upserting" src="'app/components/patients/edit-patient.html'"></ng-include>

<md-card ng-show="!svc.upserting">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{svc.doctor}}'s Patients</span>
      <!--<span class="md-subhead"></span>-->
    </md-card-title-text>
    <div flex></div>
    <md-button class="md-fab" ng-click="svc.onPatientEdit($event)">
      <md-icon>add</md-icon>
      <md-tooltip>Add Patient</md-tooltip>
    </md-button>
    <md-button class="md-fab" ng-click="svc.onFilterPatient($event)">
      <md-icon>filter_list</md-icon>
      <md-tooltip>Filter By Name Or ID</md-tooltip>
    </md-button>
    <md-button class="md-fab" ng-click="svc.onExportPatients($event)">
      <md-icon>file_download</md-icon>
      <md-tooltip>Export To Excel</md-tooltip>
    </md-button>
  </md-card-title>
  <md-card-content>
    <md-table-container>
      <table md-table md-progress="svc.patientListPromise">
        <thead md-head>
        <tr md-row>
          <th md-column><strong></strong></th>
          <th md-column><strong>Patient ID</strong></th>
          <th md-column><strong>First Name</strong></th>
          <th md-column><strong>Last Name</strong></th>
          <th md-column><strong>Date Of Birth</strong></th>
          <th md-column><strong>Gender</strong></th>
          <th md-column><strong>Phone</strong></th>
          <th md-column><strong>Allergies</strong></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="p in svc.patientList track by $index" >
          <td md-cell class="no-padding">
            <md-button class="md-icon-button" ng-click="svc.onPatientEdit($event, p, $index)">
              <md-icon>edit</md-icon>
            </md-button>
          </td>
          <td md-cell>{{p.patientId}}</td>
          <td md-cell>{{p.firstName}}</td>
          <td md-cell>{{p.lastName}}</td>
          <td md-cell>{{p.dob | date:'dd/MM/yyyy'}}</td>
          <td md-cell>{{p.gender}}</td>
          <td md-cell>{{p.phone}}</td>
          <td md-cell>{{p.allergies}}</td>
          <td md-cell class="no-padding">
            <md-button class="md-primary md-small" ng-href="#/consults/{{p.patientId}}">History</md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </md-table-container>
    <!--<md-toolbar class="md-table-toolbar md-default">-->
      <!--<div class="md-toolbar-tools">-->
        <!--<span>Nutrition</span>-->
        <!--<div flex></div>-->
        <!--<md-button ng-click="svc.onExtractPatients($event)">-->
          <!--<md-tooltip>Extract To Excel</md-tooltip>-->
          <!--<md-icon>file_download</md-icon>-->
        <!--</md-button>-->
      <!--</div>-->
    <!--</md-toolbar>-->
    <div layout="row">
      <div flex></div>
      <!--todo-->
      <!--<md-table-pagination-->
        <!--md-limit="3"-->
        <!--md-limit-options="[3, 10, 50]"-->
        <!--md-page="1"-->
        <!--md-total="{{svc.patientList.length}}"-->
        <!--md-page-select="true"-->
        <!--md-boundary-links="false"-->
        <!--md-on-paginate="svc.logPagination">-->
    <!--</md-table-pagination>-->
    </div>
  </md-card-content>
</md-card>