.md-button.md-small {
  min-width: 1%;
}

md-input-container {
  margin: 0;
}

.no-padding {
  padding: 0 !important;
}

tbody > .md-row:hover {
  background-color: #EEEEEE;
}

/* override sidenav size */
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 200px !important;
  width: 85vw !important;
  max-width: 880px !important;
  height: 90vw !important;
  max-height: 1024px !important;
}

.size48 {
  width: 48px;
  height: 48px;
}

#drop{
  border:2px dashed #bbb;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  padding:25px;
  text-align:center;
  font:16pt bold,"Vollkorn";
  color:#bbb;
  max-width: 800px;
}

.md-icon-input-align {
  margin-bottom: 20px;
}

.edit-page-size {
  max-width: 1024px;
}

/*disable md-tabs content change animation*/
[role="tabpanel"] {
  transition: none;
}