<ng-include src="'app/components/common/top-toolbar.html'"></ng-include>

<div ng-init="svc = tcmDictCtrl"></div>

<!--dictionary search pane-->
<md-card>
  <md-card-content>
    <!--<br>-->
    <form name="dictSearchForm" ng-submit="dictSearchForm.$valid && svc.onSearchDict($event)">
      <div layout="row">
        <md-button class="md-icon-button" ng-click="svc.onClearForm($event, form)">
          <md-icon>refresh</md-icon>
          <md-tooltip>clear search</md-tooltip>
        </md-button>
        <md-input-container>
          <label>Search TCM Keywords</label>
          <input type="text" ng-model="svc.searchTerm" md-autofocus required>
        </md-input-container>
        <md-button class="md-icon-button" type="submit">
          <md-icon>search</md-icon>
        </md-button>
        <div ng-show="!svc.loadingXlsx" id="drop">Drop an XLSX file here to import words</div>
      </div>
    </form>

    <!--search result-->
    <div ng-show="svc.tcmDictSearchResult.length > 0">
      <div>
        <md-list-item ng-repeat="word in svc.tcmDictSearchResult">
<!-- todo support this
          <md-button class="md-icon-button" ng-click="svc.onTagWord($event, word)">
            <md-icon>add</md-icon>
            <md-tooltip>Add to Category</md-tooltip>
          </md-button>
-->
          <p> {{word.cc}} | {{word.cs}} | {{word.eng1}} </p>
        </md-list-item>
      </div>
      <div>
        <br>
        <md-input-container>
          <label>Size</label>
          <md-select ng-model="svc.searchPageSize" ng-change="dictSearchForm.$valid && svc.onSearchDict($event)">
            <md-option ng-value="s" ng-repeat="s in [10, 20, 50]">{{s}}</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
  </md-card-content>
</md-card>

<!--tags in tabs-->
<md-progress-linear ng-show="svc.loadingXlsx" md-mode="indeterminate"></md-progress-linear>
<md-card ng-if="svc.allTags.length > 0">
  <md-card-content>
    <ng-include src="'app/components/common/word-tabs.html'"></ng-include>
  </md-card-content>
</md-card>


